@(user: PolopolyUser)(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>Main</title>
        <script type="text/javascript" src="/public/javascripts/jquery-1.9.0.min.js"></script>
        @**<script type="text/javascript" src="@routes.Application.jsRoutes()"></script>**@
    </head>
    <body>
        
        <header>
            <a href="@routes.Application.index" id="logo">Home</a>
            <dl id="user">
			    <dt>@user.name <span>(@user.email)</span></dt>
			    <dd>
			        <a href="@routes.Application.logout()">Logout</a>
			    </dd>
			</dl>
        </header>
    
        @content
        
    </body>
</html>
